
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/health">건강상 주의 원생</a></li>
  <li class="active">알레르기 조회</li>
</ol>
<!-- End breadcrumb -->

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-4">
        <!-- BEGIN TASK LIST -->
        <div class="panel panel-success panel-no-border task-list-wrap">
          <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;알레르기 유발 음식 체크</h3>
          </div>
          <form id="CheckForm" method="post" action="/health/allergy"
                enctype="application/x-www-form-urlencoded">
            <ul class="list-group">
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-1" value="견과류 알레르기" />
                <label for="task-1">견과류</label>
              </div><!-- /.checkbox -->
              </li>
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-2" value="유제품 알레르기" />
                <label for="task-2">유제품</label>
              </div><!-- /.checkbox -->
              </li>
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-3" value="콩 알레르기" />
                <label for="task-3">콩</label>
              </div><!-- /.checkbox -->
              </li>
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-4" value="해산물 알레르기" />
                <label for="task-4">해산물</label>
              </div><!-- /.checkbox -->
              </li>
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-5" value="갑각류 알레르기" />
                <label for="task-5">갑각류</label>
              </div><!-- /.checkbox -->
              </li>
              <li class="list-group-item">
              <div class="checkbox">
                <input type="checkbox" name="allergy" id="task-6" value="복숭아 알레르기" />
                <label for="task-6">복숭아</label>
              </div><!-- /.checkbox -->
              </li>
            </ul>
            <div class="panel-footer">
            <p><button type="submit" class="btn btn-danger btn-perspective btn-block">조회하기</button></p>
            </div>
          </form>
        </div><!-- /.panel panel-success -->
        <!-- END TASK LIST -->
      </div><!-- /.col-sm-4 -->
      <% for(var i=0; i < result.length; i++) { %>
        <div class="col-sm-4">
          <!-- BEGIN USER CARD LONG -->
          <div class="the-box no-border">
            <div class="media user-card-sm">
              <a class="pull-left" href="#fakelink">
              <img class="media-object img-circle" src="/uploads/<%= result[i].photo %>" alt="Avatar">
              </a>
              <div class="media-body">
              <h5 class="media-heading"><%= result[i].class %>&nbsp;&nbsp; <%= result[i].name %></h5>
              <p class="text-success">#<%= result[i].allergy_name %></p>
              </div>
              <div class="right-button">
                <button class="btn btn-success" onclick="location.href='/kids/detail'"><i class="fa fa-search"></i></button>
              </div><!-- /.right-button -->
            </div>
          </div><!-- /.the-box .no-border -->
          <!-- BEGIN USER CARD LONG -->
        </div><!-- /.col-sm-4 -->
      <% } %>
    </div><!-- /.row -->
  </div><!-- /.the-box no-border -->
</div>
