
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/kids">반별 관리</a></li>
  <li class="active">반별 상세보기</li>
</ol>
<!-- End breadcrumb -->


<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE HEADING -->
    <div class="the-box transparent full no-margin profile-heading">
      <img src="/uploads/<%= class_info.photo %>" class="bg-cover" alt="Image"
           style="opacity : 0.7;">
      <img src="/uploads/<%= teacher.photo %>" class="avatar" alt="Avatar">
      <div class="profile-info">
        <p class="user-name"><%= class_info.name %></p>
        <p class="text-muted">담임교사 : <a href="#fakelink"><%= teacher.name %> 선생님</a></p>
        <p class="text-muted">원생목록 :
          <% for(var i=0; i < kids.length; i++) { %>
            <a href="/kids/detail/<%= kids[i].idx %>"><%= kids[i].name %></a>
          <% } %>
        </p>
        <p class="right-button">
        </p>
      </div><!-- /.profile-info -->
    </div><!-- /.the-box .transparent .profile-heading -->
    <!-- END PROFILE HEADING -->
  </div><!-- /.col-md-12 -->
</div>
