
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/health">건강상 주의 원생</a></li>
  <li class="active">건강 이상 조회</li>
</ol>
<!-- End breadcrumb -->

<!-- Begin addresses and blockquote -->
<div class="row">
  <div class="col-sm-6">
    <div class="the-box"><br/>
      <h4 class="small-title" style="margin-left:30px;">총 건강 이상 원생</h4>
      <div class="row">
      <% for(var i=0; i < class_stats.length; i++) { %>
        <div style="float:left; margin-left:10%;">
        <span class="chart easy-pie-chart-1" data-percent="<%= graph[i].cnt %>">
          <span class="percent"></span>
        </span>
      <address style="text-align:center;">
        <strong><%= class_stats[i].class %></strong><br>
        <%= class_stats[i].cnt %>명<br>
      </address>
    </div>
      <% } %>
    </div>
    </div><!-- /.the-box -->
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="the-box">
      <% for(var i=0; i < kids.length; i++) { %>
      <blockquote>
        <p><%= kids[i].class %>&nbsp; | &nbsp;<%= kids[i].name %> | &nbsp;<%= kids[i].disease_name %></p>
        <% if(kids[i].disease_name == '천식') { %>
          <small style="margin-left:20px;"> &nbsp;&nbsp;호흡기를 챙겨주세요.</small>
        <% } else if(kids[i].disease_name == '감기') { %>
          <small style="margin-left:20px;"> &nbsp;&nbsp;식사 후 약을 먹여주세요.</small>
        <% } else if(kids[i].disease_name == '아토피') { %>
          <small style="margin-left:20px;"> &nbsp;&nbsp;피부를 긁지 않도록 주의해주세요.</small>
        <% } else if(kids[i].disease_name == '화상') { %>
          <small style="margin-left:20px;"> &nbsp;&nbsp;화상 부위에 자극이 가지 않도록 해주세요.</small>
        <% }%>
      </blockquote>
      <% } %>
    </div><!-- /.the-box -->
  </div><!-- /.col-sm-6 -->
</div><!-- /.row -->
<!-- End addresses and blockquote -->
