
<%- layout('base') %>

<!-- Begin page heading -->
<h1 class="page-heading">유치원생 관리 프로그램 <small>Database 디빙디밍조</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/kids">유치원생 관리</a></li>
  <li class="active">유치원생 상세보기</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box no-border property-list">
  <div class="media">
    <a class="pull-left" href="#fakelink">
    <img alt="image" class="property-image img-responsive" src="/uploads/<%= kid.photo %>"></a>
    <div class="clearfix visible-xs"></div>
    <div class="media-body" style="margin-left:230px;">
      <h4 class="media-heading">
        <strong><%= kid.class %></strong></h4><br/>
      <p class="hidden-xs">
        이름 : <%= kid.name %></br>
        생년월일 : <%= kid.birth_date %></br>
        성별 : <% if(kid.gender==0){ %> 남자
        <% } else { %> 여자 <% } %></br>
        주소 : <%= kid.address %></br>
        보호자 연락처 : <%= kid.phone_num %></br>
        보호자 이메일 : <%= kid.email %>
      </p>
      <span class="small text-muted">
        <a href="/kids"><i class="fa fa-home">&nbsp;목록으로</i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/kids/edit/<%= kid.idx %>"><i class="fa fa-edit">&nbsp;정보수정</i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/kids/delete/<%= kid.idx %>"><i class="fa fa-times-circle-o">&nbsp;원생삭제</i></a>
      </span>
    </div><!-- /.media-body -->
  </div><!-- /.media -->
</div><!-- /.the-box no-border -->
